aiohappyeyeballs==2.6.1
aiosignal==1.4.0
albumentations==2.0.8
anyio==4.13.0
bce-python-sdk==0.9.69
coremltools==9.0
htrmopo==0.5
httpcore==1.0.9
iso639-lang==2.6.3
lightning==2.6.1
onnxruntime==1.24.4
opencv-contrib-python==4.10.0.84
opencv-python==4.13.0.92
pip==24.3.1
polars-runtime-32==1.39.3
prettytable==3.17.0
py-cpuinfo==9.0.0
pyarrow==23.0.1
python-bidi==0.6.7
python-dotenv==1.2.2
regex==2024.11.6
s3transfer==0.16.0
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.7.2
seaborn==0.13.2
shapely==2.1.2
thop==0.1.1.post2209072238
tokenizers==0.21.0
torchvision==0.25.0
yarl==1.23.0
